<!DOCTYPE html>
<html>
  <head>
    <title>Book List</title>
  </head>
  <body>
    <h1>Book List</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>
              <a href="{{ url_for('edit', id=book.id) }}">Edit</a>
              <a href="{{ url_for('delete', id=book.id) }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p><a href="{{ url_for('add') }}">Add Book</a></p>
  </body>
</html>
